

.avatarHolder {
  height: 100vh;
  width: 100vw;
}

.card1,
.card2,
.card3,
.card4 {
  position: absolute;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

.card1 {
  min-width: 25ch;
  min-height: 25ch;
  width: 40ch;
  height: 40ch;
  max-width: 40ch;
  max-height: 40ch;
  background-image: url(../../images/MainFace.ai.svg);
  background-size: 100%;
}

.card2 {
  width: 40ch;
  height: 40ch;
  background-image: url(../../images/mainBeard.svg);
  background-size: 100%;
}

.card3 {
  width: 40ch;
  height: 40ch;
  background-image: url(../../images/mainEyeBru2.svg);
}

.card4 {
  width: 40ch;
  height: 40ch;
  background-image: url(../../images/mainEye2.svg);
}

.container {
  width: min-content;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
